set firewall global-options state-policy established action 'accept'
set firewall global-options state-policy related action 'accept'
set firewall global-options state-policy invalid action 'drop'

set firewall ipv6 forward filter default-action 'drop'
set firewall ipv6 forward filter default-log

set firewall ipv6 forward filter rule 10 description 'ICMPv6 is required for IPv6 to function'
set firewall ipv6 forward filter rule 10 action 'accept'
set firewall ipv6 forward filter rule 10 protocol 'ipv6-icmp'

set firewall ipv6 forward filter rule 13 description 'gaia to triton (AC infrared) over NAT64'
set firewall ipv6 forward filter rule 13 action 'accept'
set firewall ipv6 forward filter rule 13 inbound-interface name '{{ lan_interface }}.{{ vlans.services }}'
set firewall ipv6 forward filter rule 13 protocol 'udp'
set firewall ipv6 forward filter rule 13 destination address '64:ff9b::a00:2804/128'
set firewall ipv6 forward filter rule 13 destination port '80'

set firewall ipv6 forward filter rule 14 description 'trusted to iot devices over NAT64'
set firewall ipv6 forward filter rule 14 action 'accept'
set firewall ipv6 forward filter rule 14 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv6 forward filter rule 14 destination address '64:ff9b::a00:2800/120'

set firewall ipv6 forward filter rule 15 description 'trusted to dualstack devices over NAT64'
set firewall ipv6 forward filter rule 15 action 'accept'
set firewall ipv6 forward filter rule 15 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv6 forward filter rule 15 destination address '64:ff9b::a00:5000/120'

set firewall ipv6 forward filter rule 16 description 'rosetta to sputnik over NAT64'
set firewall ipv6 forward filter rule 16 action 'accept'
set firewall ipv6 forward filter rule 16 inbound-interface name '{{ lan_interface }}.{{ vlans.services }}'
set firewall ipv6 forward filter rule 16 destination address '64:ff9b::a00:5003/128'

set firewall ipv6 forward filter rule 17 description 'block NAT64 to embedded 10/8'
set firewall ipv6 forward filter rule 17 action 'drop'
set firewall ipv6 forward filter rule 17 log
set firewall ipv6 forward filter rule 17 inbound-interface name '{{ lan_interface }}*'
set firewall ipv6 forward filter rule 17 destination address '64:ff9b::a00:0/104'

set firewall ipv6 forward filter rule 18 description 'block NAT64 to embedded 172.16/12'
set firewall ipv6 forward filter rule 18 action 'drop'
set firewall ipv6 forward filter rule 18 log
set firewall ipv6 forward filter rule 18 inbound-interface name '{{ lan_interface }}*'
set firewall ipv6 forward filter rule 18 destination address '64:ff9b::ac10:0/108'

set firewall ipv6 forward filter rule 19 description 'block NAT64 to embedded 192.168/16'
set firewall ipv6 forward filter rule 19 action 'drop'
set firewall ipv6 forward filter rule 19 log
set firewall ipv6 forward filter rule 19 inbound-interface name '{{ lan_interface }}*'
set firewall ipv6 forward filter rule 19 destination address '64:ff9b::c0a8:0/112'

set firewall ipv6 forward filter rule 20 description 'LAN to NAT64'
set firewall ipv6 forward filter rule 20 action 'accept'
set firewall ipv6 forward filter rule 20 inbound-interface name '{{ lan_interface }}*'
set firewall ipv6 forward filter rule 20 destination address '64:ff9b::/96'

set firewall ipv6 forward filter rule 30 description 'drop late QUIC packets from WAN without logging'
set firewall ipv6 forward filter rule 30 action 'drop'
set firewall ipv6 forward filter rule 30 inbound-interface name '{{ wan_interface }}'
set firewall ipv6 forward filter rule 30 protocol 'udp'
set firewall ipv6 forward filter rule 30 source port '443'

{% for flow in firewall_flows %}
set firewall ipv6 forward filter rule {{ flow.rule }} description '{{ flow.description }}'
set firewall ipv6 forward filter rule {{ flow.rule }} action 'accept'
set firewall ipv6 forward filter rule {{ flow.rule }} inbound-interface name '{{ lan_interface }}.{{ vlans[flow.source] }}'
{% if flow.destination is defined and flow.destination == 'wan' %}
set firewall ipv6 forward filter rule {{ flow.rule }} outbound-interface name '{{ wan_interface }}'
{% elif flow.destination is defined %}
set firewall ipv6 forward filter rule {{ flow.rule }} outbound-interface name '{{ lan_interface }}.{{ vlans[flow.destination] }}'
{% endif %}
{% if flow.protocol is defined %}
set firewall ipv6 forward filter rule {{ flow.rule }} protocol '{{ flow.protocol }}'
{% endif %}
{% if flow.ports is defined %}
set firewall ipv6 forward filter rule {{ flow.rule }} destination port '{{ flow.ports | join(",") }}'
{% endif %}

{% endfor %}
set firewall ipv6 input filter default-action 'drop'
set firewall ipv6 input filter default-log

set firewall ipv6 input filter rule 5 description 'untagged LAN traffic is intentionally dead'
set firewall ipv6 input filter rule 5 action 'drop'
set firewall ipv6 input filter rule 5 log
set firewall ipv6 input filter rule 5 inbound-interface name '{{ lan_interface }}'

set firewall ipv6 input filter rule 10 description 'ICMPv6 (neighbor discovery, RA from ISP)'
set firewall ipv6 input filter rule 10 action 'accept'
set firewall ipv6 input filter rule 10 protocol 'ipv6-icmp'

set firewall ipv6 input filter rule 20 description 'SSH from management'
set firewall ipv6 input filter rule 20 action 'accept'
set firewall ipv6 input filter rule 20 inbound-interface name '{{ lan_interface }}.{{ vlans.management }}'
set firewall ipv6 input filter rule 20 protocol 'tcp'
set firewall ipv6 input filter rule 20 destination port '22'

set firewall ipv6 input filter rule 22 description 'SSH from trusted'
set firewall ipv6 input filter rule 22 action 'accept'
set firewall ipv6 input filter rule 22 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv6 input filter rule 22 protocol 'tcp'
set firewall ipv6 input filter rule 22 destination port '22'

set firewall ipv6 input filter rule 30 description 'DHCPv6 client traffic on WAN'
set firewall ipv6 input filter rule 30 action 'accept'
set firewall ipv6 input filter rule 30 inbound-interface name '{{ wan_interface }}'
set firewall ipv6 input filter rule 30 protocol 'udp'
set firewall ipv6 input filter rule 30 source port '547'
set firewall ipv6 input filter rule 30 destination port '546'

set firewall ipv6 input filter rule 40 description 'NTP from LAN'
set firewall ipv6 input filter rule 40 action 'accept'
set firewall ipv6 input filter rule 40 inbound-interface name '{{ lan_interface }}*'
set firewall ipv6 input filter rule 40 protocol 'udp'
set firewall ipv6 input filter rule 40 destination port '123'

set firewall ipv6 input filter rule 50 description 'mDNS to the repeater from trusted'
set firewall ipv6 input filter rule 50 action 'accept'
set firewall ipv6 input filter rule 50 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv6 input filter rule 50 protocol 'udp'
set firewall ipv6 input filter rule 50 destination address 'ff02::fb'
set firewall ipv6 input filter rule 50 destination port '5353'

set firewall ipv6 input filter rule 52 description 'mDNS to the repeater from services'
set firewall ipv6 input filter rule 52 action 'accept'
set firewall ipv6 input filter rule 52 inbound-interface name '{{ lan_interface }}.{{ vlans.services }}'
set firewall ipv6 input filter rule 52 protocol 'udp'
set firewall ipv6 input filter rule 52 destination address 'ff02::fb'
set firewall ipv6 input filter rule 52 destination port '5353'

set firewall ipv6 input filter rule 54 description 'mDNS to the repeater from iot'
set firewall ipv6 input filter rule 54 action 'accept'
set firewall ipv6 input filter rule 54 inbound-interface name '{{ lan_interface }}.{{ vlans.iot }}'
set firewall ipv6 input filter rule 54 protocol 'udp'
set firewall ipv6 input filter rule 54 destination address 'ff02::fb'
set firewall ipv6 input filter rule 54 destination port '5353'

set firewall ipv4 input filter default-action 'drop'

set firewall ipv4 input filter rule 20 description 'DHCP client traffic on WAN'
set firewall ipv4 input filter rule 20 action 'accept'
set firewall ipv4 input filter rule 20 inbound-interface name '{{ wan_interface }}'
set firewall ipv4 input filter rule 20 protocol 'udp'
set firewall ipv4 input filter rule 20 source port '67'
set firewall ipv4 input filter rule 20 destination port '68'

set firewall ipv4 forward filter default-action 'drop'
set firewall ipv4 forward filter default-log
