set interfaces ethernet {{ lan_interface }} vif {{ vlans.trusted }} address '{{ trusted_ipv4.gateway }}/24'

set service dhcp-server shared-network-name trusted subnet {{ trusted_ipv4.subnet }} subnet-id '20'
set service dhcp-server shared-network-name trusted subnet {{ trusted_ipv4.subnet }} option default-router '{{ trusted_ipv4.gateway }}'
set service dhcp-server shared-network-name trusted subnet {{ trusted_ipv4.subnet }} range 0 start '{{ trusted_ipv4.dhcp_range_start }}'
set service dhcp-server shared-network-name trusted subnet {{ trusted_ipv4.subnet }} range 0 stop '{{ trusted_ipv4.dhcp_range_stop }}'

set nat source rule 1000 description 'temporary: trusted IPv4 to internet'
set nat source rule 1000 outbound-interface name '{{ wan_interface }}'
set nat source rule 1000 source address '{{ trusted_ipv4.subnet }}'
set nat source rule 1000 translation address 'masquerade'

set firewall ipv4 input filter rule 1000 description 'temporary: DHCP from trusted'
set firewall ipv4 input filter rule 1000 action 'accept'
set firewall ipv4 input filter rule 1000 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv4 input filter rule 1000 protocol 'udp'
set firewall ipv4 input filter rule 1000 destination port '67'

set firewall ipv4 input filter rule 1001 description 'temporary: ICMP from trusted (debugging)'
set firewall ipv4 input filter rule 1001 action 'accept'
set firewall ipv4 input filter rule 1001 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv4 input filter rule 1001 protocol 'icmp'

set firewall ipv4 forward filter rule 1000 description 'temporary: trusted IPv4 to internet'
set firewall ipv4 forward filter rule 1000 action 'accept'
set firewall ipv4 forward filter rule 1000 inbound-interface name '{{ lan_interface }}.{{ vlans.trusted }}'
set firewall ipv4 forward filter rule 1000 outbound-interface name '{{ wan_interface }}'
