set interfaces ethernet {{ lan_interface }} vif {{ vlans.guest }} address '{{ guest_ipv4.gateway }}/24'

set service dhcp-server shared-network-name guest subnet {{ guest_ipv4.subnet }} subnet-id '{{ vlans.guest }}'
set service dhcp-server shared-network-name guest subnet {{ guest_ipv4.subnet }} option default-router '{{ guest_ipv4.gateway }}'
set service dhcp-server shared-network-name guest subnet {{ guest_ipv4.subnet }} range 0 start '{{ guest_ipv4.dhcp_range_start }}'
set service dhcp-server shared-network-name guest subnet {{ guest_ipv4.subnet }} range 0 stop '{{ guest_ipv4.dhcp_range_stop }}'

set nat source rule 1000 description 'temporary: guest IPv4 to internet'
set nat source rule 1000 outbound-interface name '{{ wan_interface }}'
set nat source rule 1000 source address '{{ guest_ipv4.subnet }}'
set nat source rule 1000 translation address 'masquerade'

set firewall ipv4 input filter rule 1000 description 'temporary: DHCP from guest'
set firewall ipv4 input filter rule 1000 action 'accept'
set firewall ipv4 input filter rule 1000 inbound-interface name '{{ lan_interface }}.{{ vlans.guest }}'
set firewall ipv4 input filter rule 1000 protocol 'udp'
set firewall ipv4 input filter rule 1000 destination port '67'

set firewall ipv4 input filter rule 1001 description 'temporary: ICMP from guest (debugging)'
set firewall ipv4 input filter rule 1001 action 'accept'
set firewall ipv4 input filter rule 1001 inbound-interface name '{{ lan_interface }}.{{ vlans.guest }}'
set firewall ipv4 input filter rule 1001 protocol 'icmp'

set firewall ipv4 forward filter rule 1000 description 'temporary: guest IPv4 to internet'
set firewall ipv4 forward filter rule 1000 action 'accept'
set firewall ipv4 forward filter rule 1000 inbound-interface name '{{ lan_interface }}.{{ vlans.guest }}'
set firewall ipv4 forward filter rule 1000 outbound-interface name '{{ wan_interface }}'
