{% for name, id in vlans.items() %}
set service router-advert interface {{ lan_interface }}.{{ id }} prefix ::/64
set service router-advert interface {{ lan_interface }}.{{ id }} nat64prefix '64:ff9b::/96'
{% for ns in ra_name_servers %}
set service router-advert interface {{ lan_interface }}.{{ id }} name-server '{{ ns }}'
{% endfor %}
{% endfor %}

set service router-advert interface {{ config_interface }} prefix ::/64
set service router-advert interface {{ config_interface }} nat64prefix '64:ff9b::/96'
