{% for name, id in vlans.items() %}
set service router-advert interface {{ lan_interface }}.{{ id }} prefix ::/64
{% if name in static_vlans %}
set service router-advert interface {{ lan_interface }}.{{ id }} prefix {{ ula_prefix }}:{{ id }}::/64 no-autonomous-flag
{% endif %}
set service router-advert interface {{ lan_interface }}.{{ id }} nat64prefix '64:ff9b:1::/96'
{% if name in polaris_vlans %}
set service router-advert interface {{ lan_interface }}.{{ id }} name-server '{{ polaris_address }}'
{% else %}
{% for ns in dns_resolvers %}
set service router-advert interface {{ lan_interface }}.{{ id }} name-server '{{ ns }}'
{% endfor %}
{% endif %}
{% endfor %}
