# Rendered by Ansible (andromeda role).
TZ={{ timezone }}
WIREGUARD_PRIVATE_KEY={{ lookup('env', 'ANDROMEDA_WIREGUARD_PRIVATE_KEY') }}
WIREGUARD_ADDRESSES={{ lookup('env', 'ANDROMEDA_WIREGUARD_ADDRESSES') }}
ANDROMEDA_RADARR_API_KEY={{ lookup('env', 'ANDROMEDA_RADARR_API_KEY') }}
ANDROMEDA_SONARR_API_KEY={{ lookup('env', 'ANDROMEDA_SONARR_API_KEY') }}
ANDROMEDA_PROWLARR_API_KEY={{ lookup('env', 'ANDROMEDA_PROWLARR_API_KEY') }}
